@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
      format("svg");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c4c4d4;
}

.App {
  width: 20rem;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border: 0.5rem solid black;
}

#display,
#display2 {
  width: 100%;
  min-height: 2rem;
  text-align: right;
  padding-right: 0.25rem;
  font-family: digital;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 400;
  color: white;
  word-wrap: break-word;
  word-break: break-all;
}

#display2 {
  font-size: 1.5rem;
  color: #e9a20a;
  word-wrap: normal;
}

button {
  font-family: "Share Tech Mono", monospace;
  font-size: 1.25rem;
  width: 5rem;
  height: 4rem;
  background-color: #4d4d4d;
  color: white;
  border: none;
  outline: 0.05rem solid black;
}

button:hover {
  color: black;
  outline: 0.05rem solid grey;
  z-index: 3;
}

#clear,
#del {
  width: 5rem;
  background-color: #ac3839;
}

.wrapper-parent {
  display: flex;
}

#zero {
  width: 10rem;
}

#equals {
  background-color: #004566;
  height: 8rem;
}

#divide,
#multiply,
#subtract,
#add {
  background-color: #666666;
}
